.singleView{
    width: 90%;
    height: 400px;

    margin: auto;
    margin-top: 20px;
}
.singleView img{
    height:90%;
    width: 100%;
}
.bottom{
    display: flex;
    height: 10%;
    margin-top: 10px;
    gap:10px;
}
.view{
    width: 50%;
    height: 44px;
    background-color: yellow;

}
.back{
    width: 50%;
    height: 44px;
    background-color: rgb(21, 112, 203);
    gap:10px;

}
.description{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 30px;
}
.description b{
    font-size: 12px;
}
.statusBar{
    height: 70px;
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.statusBar h2{
        text-align: center;
        align-items: center;
        font-size: 29px;
        color: white;
}