/* .menu{
    width: 90%;
    height: 600px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu::-webkit-scrollbar{
    display: none;
}
.card{
    width: 90%;
    height: 190px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    /* background-image: url(https://images.pexels.com/photos/6210933/pexels-photo-6210933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    /* background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.centered{
    position: relative;
    text-align: center;
    color: white;
    top: 40%;
}
.viewBtn{
    width: 100px;
    height: 25px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid black;
    background-color: transparent;
}
.viewBtn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.centered h3{
    background-color: rgb(94, 25, 204);
    color: rgb(235, 224, 224);
}
.prize{
    background-color: black;
    color: white;
    width: 50%;
    margin-top: 20px;
    margin: auto;
} */ 
.menu{
    width:90%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 60px;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 80px;
    
}
.menu::-webkit-scrollbar{
    display: none;
}
.card{
    /* margin-left: ; */
    flex-grow: 4;
    width: 70px;
    /* height: 50px; */
    /* border-radius: 50%; */
    background-size: contain;
    margin-left: 10px;
}
.card img{
    width:70px;
    height: 70px;
    border-radius: 50%;
}
.centered{
    margin-top: 20px;
}
